{% extends 'baseline.html' %}
{% block content %}
{# {% include 'navigation.html' %} #}
<div id="puzzle_box" class='container'>
    <div class="row" id="row-1">
        {# <div class="col col-2" id="r0c0"></div> #}
        <div class="col justify-content-center d-flex " id="BSr-1c1">
            <div class="button-holder p-2">
                <button type="button" class="btn btn-sm btn-warning" id="btnTest">TEST</button>
                <button type="button" class="btn btn-sm btn-outline-info" id="btnClear">Clear Grid</button>
                <button type="button" class="btn btn-sm btn-outline-info" id="btnPop">Populate Headers</button>
                <button type="button" class="btn btn-sm btn-outline-success" id="btnSubmit">Submit Answer!</button>
                <button type="button" class="btn btn-sm btn-outline-primary" id='btnSave'>Save</button>
                <button type="button" class="btn btn-sm btn-outline-danger" id="btnLoad">Load</button>
            </div>
        </div>

    </div>
    <div class="row" id="row0">

        <div class="col justify-content-center d-flex" id="BSr0c1"></div>

    </div>
    <div class="row" id="row1">

        <div class="col justify-content-center d-flex" id="BSr1c1"></div>

    </div>
</div>


<script type='module' src="{{url_for('static',filename='js/main.js')}}"></script>
<script type="module" src="{{url_for('static',filename='js/buildPuzzPage.js')}}"></script>
<script type="module" src="{{url_for('static',filename='js/storage.js')}}"></script>
{% endblock content %}