<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport"
              content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!--  -->
        <!-- <meta http-equiv="refresh" content="3"> -->
        <!--  -->
        <!-- {% if not title %}
            <title>Flask Blog</title>
        {% else %}
            <title>Flask Blog - {{ title }}</title>
        {% endif %} -->
        <!-- Bootswatch 5.2.3, replacing bootstrap -->
        <link href=" https://cdn.jsdelivr.net/npm/bootswatch@5.2.3/dist/cerulean/bootstrap.min.css "
              rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/main.css')}}">

        <!-- Bootstrap CSS v5.2.1 -->
        <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
       rel="stylesheet"
       integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
       crossorigin="anonymous"> -->
    </head>
    <body>
        <!-- <header> -->
            <div class="container">
                {% block navigation %}
                {% endblock navigation %}
            </div>
        <!-- </header> -->
        <main>
            
            <!-- this section block the child-templates can override -->

            <div class="container">
                <div class="container">
                    {% block content %}
                    {% endblock content %}
                </div>
            </div>
        </main>
        <footer>
            <!-- place footer here -->
        </footer>
        <script type='module' src="{{url_for('static',filename='js/main.js')}}"></script>
        <script type="module" src="{{url_for('static',filename='js/buildPuzzPage.js')}}"></script>
        <script type="module" src="{{url_for('static',filename='js/storage.js')}}"></script>
        <!-- Bootstrap JavaScript Libraries -->
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
        </script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js" integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
        </script>
    </body>
</html>
