body {
    background-color: linen;
}


#puzzle_box {
    /* background-color: aquamarine; */
    height: auto;
    /* width: 100%; */
}

/* these are the bootstrap grid columns */
/* #BSr0c1,
#BSr1c1 {
    display: flex;
} */

/* #spacerTable { */
    /* background-color: green; */
/* } */

/* #spacerRow { */
    /* border-top: lightgray 1px solid; */
    /* background-color: green; */
/* } */

#spacerCell {
    /* border-top: lightgray 1px solid;
    margin-bottom:-5px; */
    min-width: fit-content;
    /* min-height: 40%; */
    /* width: auto; */
    height: auto;
    /* display:table-cell; */
    color: red;
    /* background-color: green; */
    /* text-align: center; */
}

#colHeaders {
    /* margin-top:1px; */
    /* min-width: 40%; */
    min-height: fit-content;
}

#colHeaders tr{
    /* margin-top:1px; */
    /* border-top: gray 1px solid; */
    /* min-width: 40%; */
    min-height: fit-content;
}

#colHeaders td {
    /* margin-top:1px; */
    display: table-cell;
    vertical-align: bottom;
    width: 20px;
    height: 20px;
    /* min-width: 20px; */
    /* min-height: 20px; */
    border: 1px solid #ccc;
    text-align: center;
    font-family: sans-serif;
    font-size: 12px;
    background-color: white;
}


#rowHeaders {
    min-height: 40%;
    min-width: fit-content;
    /* min-width: 40%; */
}

#rowHeaders td {
    display: table-cell;
    width: 20px;
    height: 20px;
    min-width: fit-content;
    /* min-width: min-content; */
    border: 1px solid #ccc;
    text-align: end;
    font-family: sans-serif;
    font-size: 12px;
    background-color: white;
    padding-right: 3px;
}

#puzzleGrid {
    border-top: lightgray 1px solid;
    /* margin: 1em auto; */
    border-collapse: collapse;

}

#puzzleGrid td {
    width: 20px;
    height: 20px;
    min-width: auto;
    min-height: min-content;

    border: 1px solid #ccc;
    text-align: center;
    font-family: sans-serif;
    font-size: 0px
}

#puzzleGrid td.on {
    cursor: url('../images/eraser.png'), pointer;
    background-color: black;
    color: black;
    font-family: sans-serif;
    font-size: 0px
}

#puzzleGrid td.off {
    cursor: url('../images/pencil_blue.png'), pointer;
    background-color: white;
    color: white;
    font-family: sans-serif;
    font-size: 0px
}


#puzzleGrid td.definitelyNot {
 
    cursor: url('../images/pencil_blue.png'), pointer;
    /* background-image: "X"; */
    background-color: grey;
    color: black;
    font-family: sans-serif;
    font-size: 0px;
    overflow: hidden;
    height: 20px;
    /* max-height: 20px; */
    
}
#puzzleGrid td.definitelyNot::after {
    content: "\⛝";
    height: 20px;
    font-size: 20px;
    background-color: white;
    color: gray;
    font-family: sans-serif;
    margin: -10px -10px;
    /* margin-top: 20px; */
    /* padding-bottom: -10px; */
    /* offset:unset; */
    /* margin-left:-20px; */
    /* margin-top: -6px; */
    /* margin-bottom: -1px; */
    /* text-orientation:sideways-left; */
    /* writing-mode: vertical-rl; */
    /* max-height: inherit; */
    /* inline-size: min-content; */
    /* text-orientation:upright; */
    /* display:inline; */
    line-height:0.8;
}