.grid {
    margin: 1em auto;
    border-collapse: collapse
}

.grid td {
    width: 20px;
    height: 20px;
    border: 1px solid #ccc;
    text-align: center;
    font-family: sans-serif;
    font-size: 0px
}

.grid td.on {
    cursor: url('../images/eraser.png'), pointer;
    background-color: black;
    color: black;
}

.grid td.off {
    cursor: url('../images/pencil_blue.png'), pointer;
    background-color: white;
    color: white;
}

#rowHeaders td {
    width: 20px;
    height: 20px;
    border: 1px solid #ccc;
    text-align: end;
    font-family: sans-serif;
    font-size: 12px;
    background-color: white;
    padding-right: 3px;
}

#colHeaders td {
    vertical-align: bottom;
    width: 20px;
    height: 20px;
    border: 1px solid #ccc;
    text-align:center;
    font-family: sans-serif;
    font-size: 12px;
    background-color: white;
}


#puzzle_box {
    background-color: aquamarine;
    height: auto;
    /* width: 100%; */
}

#rowHeaders {
    position:relative;
    top: 0%;
    left: 0%;
}

/* 
#c0r3 {
 background-color: green;
}
#rh0{
    background-color: blue;
} */
